*.exp
*.ilk
*.idb
*.pdb
*.exe
*.htm
*.obj
*.pgd
*.ncb
*.suo
*.user
*.pgd
*.manifest
*.res
*.dep

pbge.dll
pbge.lib

DevIL.dll
glew32.dll

gmock*
gtest*
out/
bin/Debug/tester.lib

bin/*/OpenGLAPI*

_*.cpp
_*.h
_*.txt
_*.hpp
_*.c